proxysql_user = 'admin'
proxysql_password = 'admin'
proxysql_host = '127.0.0.1'
proxysql_port = 6032
readyset_user = 'root'
readyset_password = 'root'
source_hostgroup = 11
readyset_hostgroup = 99
warmup_time_s = 60
lock_file = '/tmp/readyset_scheduler.lock'
operation_mode='All'
number_of_queries=10
query_discovery_mode='SumTime'
log_verbosity='Note'